<!DOCTYPE html>
<html lang="en">
  <head>
  <title>TinyApp&trade;</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
  <body>
    <% include partials/_header %>
    <h2>To create your account, please enter an email and password in the fields below:</h1>
    <form class="userForm" action="/register" method="POST">
      <input id="email" type="email" name="email" placeholder="email">
      <br>
      <input id="password" type="password" name="password" placeholder="password">
      <br>
      <button style="width:173px" class="edit" type="submit" value="submit">Create Account</button>
    </form>
  </body>
</html>