<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <p> <%= longURL %>   <strong>===></strong>   <%= shortURL %> </p>
    <form action="/urls/<%=shortURL%>/update" method="POST">
      <input id="longURL" name="longURL" type="text" placeholder="<%= longURL %>" style="width: 300px">
      <input type="submit" value="Update">
    </form>
</body>
</html>

