body{
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

h1{
  color:#757575;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.delete:hover{
  background-color:#F44336;
  color:white;
}

.edit:hover{
  background-color: #03A9F4;
  color: white;
}

button{
  background-color:white;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  font-size:1em;
}

a{
  text-decoration: none;
}

a:visited{
  color:black;
}

input{
  color:#03A9F4;
}

#returnHome{
  margin-top: 50px;
}

#headerRem{
  letter-spacing: 3px;
  -webkit-transition: letter-spacing 1s;
  transition: letter-spacing: 1s;
}

/*#headerRem:hover{
 letter-spacing: 0.10px;
}

#headerRem{
  animation-duration: 2s;
  animation-name: letter-spacing;
}*/

#headerRem {
  letter-spacing: -2px;
  animation-duration: 3s;
  animation-name: shrinkSpacing;

}

@keyframes shrinkSpacing {
  from { letter-spacing:4px; }
  to  { letter-spacing: -2px; }
}