#header{
  margin-top: 25px;
  margin-right:-300px;
  width: 500px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 14px;
}

#header2{
  margin-top: 25px;
  margin-right:-300px;
  width: 500px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
}

#username{
  border: none;
  width:400px;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

body{
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#urls{
  margin-top: 50px;

}

table{
  min-width: 640px;
  padding: 0px;
  border-spacing: 0px;
  font-size: 16px;
  margin-top:25px;
}

table tr{
  padding-top:0px;
  padding-bottom: 0px;
}

table th{
  text-align: center;
}

td{
  padding-top:15px;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

table tr:nth-child(even){
  background-color: #F5F5F5;
}

.table td{
  padding: 0px;
  height:30px;
}

input{
  font-size: 1em;
}

h1{
  margin-top: 50px;
  color:#757575;
  font-size: 64px;
  font-weight: bold;
}

h2{
  margin-top: 0px;
  margin-bottom:50px;
  display: flex;
  justify-content: center;
}

form{
  display:inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*.userform{
  font-size: 16px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/

#updateURL{
 /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/
}

input{
  height:25px;
  color:#03A9F4;
}

.delete:hover{
  background-color:#F44336;
  color:white;
}

.edit:hover{
  background-color: #03A9F4;
  color: white;
}

button{
  height:25px;
  background-color:white;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  font-size:16px;
}

a{
  color:#03A9F4;
  text-decoration: none;
}

a:visited{
  color:black;
}


#returnHome{
  margin-top: 50px;
}

/*#headerRem{
  letter-spacing: 3px;
  -webkit-transition: letter-spacing 1s;
  transition: letter-spacing: 1s;
}

#headerRem {
  letter-spacing: -2px;
  animation-duration: 3s;
  animation-name: shrinkSpacing;

}

@keyframes shrinkSpacing {
  from { letter-spacing:4px; }
  to  { letter-spacing: -2px; }
}*/